* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Roboto Light';
    font-size: 14px;
    font-weight: 300;
    color: #444444;
    cursor: default;
    margin: 0px;
    padding: 0px;
}

.anchor {
    display: block;
    position: relative;
    top: -60px;
    width: 0px;
    height: 0px;
}

.color-green { color: #53be31 !important; }

.title {
    display: block;
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin: 0px 0px 20px 0px;
    padding: 14px 0px 17px 0px;
}

.title.title--small {
    font-size: 30px;
}

.title.title--underscore::after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100px;
    content: '';
    border-bottom: 1px solid #666666;
    transform: translateX(-50%);
}

.title b {
    font-family: 'Roboto Bold';
    font-weight: 300;
}



#home {
    background-image: url(/public/assets/images/Vlepy_BG_01.jpg);
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    #home {
        padding: 120px 0px;
    }
}
