/*
 *    Buttons
 */


.btn {
    display: inline-block;
    background-color: #e3e3e3;
    line-height: 18px;
    font-family: 'Roboto SemiBold';
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: #333333;
    margin: 0px;
    padding: 20px 47px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn:hover {
    background-color: #d3d3d3;
}

.btn.btn--fill-width {
    display: block;
    width: 100%;
}

.btn.btn--square {
    width: 36px;
    height: 36px;
    padding: 8px 0px;
}

.btn.btn--square i.fa {
    margin: 0px;
}

.btn.btn--outline {
    background-color: transparent;
    color: #818181;
    padding: 14px 46px;
    border: 1px solid #818181;
}

.btn.btn--outline:hover {
    background-color: transparent;
    color: #616161;
    border-color: #616161;
}

.btn i.fa {
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
}

.btn.btn--primary {
    background-color: #107f30;
    color: #ffffff;
}

.btn.btn--primary:hover {
    background-color: #0e712a;
}

.btn.btn--primary.btn--outline {
    background-color: transparent;
    color: #d80e24;
    border-color: #d80e24;
}

.btn.btn--primary.btn--outline:hover {
    background-color: transparent;
    color: #c00c21;
    border-color: #c00c21;
}

.btn:disabled,
.btn.btn--disabled,
.btn:disabled:hover,
.btn.btn--disabled:hover {
    background-color: #cecece;
    color: #ffffff;
    cursor: default;
}

.btn:disabled.btn--outline,
.btn.btn--disabled.btn--outline,
.btn:disabled.btn--outline:hover,
.btn.btn--disabled.btn--outline:hover {
    background-color: transparent;
    color: #e3e1e2;
    border-color: #e3e1e2;
}








/* Color - white */

.btn.btn--white {
    background-color: #ffffff;
    color: #333333;
}

.btn.btn--white:hover {
    background-color: #e6e6e6;
    color: #333333;
}

.btn.btn--white.btn--outline {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.btn.btn--white.btn--outline:hover {
    background-color: transparent;
    color: #e6e6e6;
    border-color: #e6e6e6;
}


/* Color - red */

.btn.btn--red {
    background-color: #d80e24;
    color: #ffffff;
}

.btn.btn--red:hover {
    background-color: #a80b1d;
    color: #ffffff;
}

.btn.btn--red.btn--outline {
    background-color: transparent;
    color: #d80e24;
    border-color: #d80e24;
}

.btn.btn--red.btn--outline:hover {
    background-color: transparent;
    color: #a80b1d;
    border-color: #a80b1d;
}


/* Color - green */

.btn.btn--green {
    background-color: #53be31;
    color: #ffffff;
}

.btn.btn--green:hover {
    background-color: #46a22a;
    color: #ffffff;
}

.btn.btn--green.btn--outline {
    background-color: transparent;
    color: #53be31;
    border-color: #53be31;
}

.btn.btn--green.btn--outline:hover {
    background-color: transparent;
    color: #46a22a;
    border-color: #46a22a;
}


/* Color - blue */

.btn.btn--blue {
    background-color: #2b78cf;
    color: #ffffff;
}

.btn.btn--blue:hover {
    background-color: #2362a9;
    color: #ffffff;
}

.btn.btn--blue.btn--outline {
    background-color: transparent;
    color: #2b78cf;
    border-color: #2b78cf;
}

.btn.btn--blue.btn--outline:hover {
    background-color: transparent;
    color: #2362a9;
    border-color: #2362a9;
}


/* Color - yellow */

.btn.btn--yellow {
    background-color: #fcc203;
    color: #ffffff;
}

.btn.btn--yellow:hover {
    background-color: #ca9b02;
    color: #ffffff;
}

.btn.btn--yellow.btn--outline {
    background-color: transparent;
    color: #fcc203;
    border-color: #fcc203;
}

.btn.btn--yellow.btn--outline:hover {
    background-color: transparent;
    color: #ca9b02;
    border-color: #ca9b02;
}
