/*
 *    Background modifiers
 */

.bg-white { background-color: #ffffff !important; }
.bg-grey  { background-color: #e0e0e0 !important; }
.bg-gray  { background-color: #e0e0e0 !important; }
.bg-dark  { background-color: #89898b !important; }

.bg-red      { background-color: #c20018 !important; }
.bg-green    { background-color: #53be31 !important; }
.bg-lime     { background-color: #b3ee3a !important; }
.bg-blue     { background-color: #2196f3 !important; }
.bg-sky-blue { background-color: #03a9f4 !important; }
.bg-brown    { background-color: #795548 !important; }
.bg-purple   { background-color: #673ab7 !important; }
.bg-pink     { background-color: #f44368 !important; }
.bg-orange   { background-color: #ff5722 !important; }
.bg-gold     { background-color: #daa520 !important; }
.bg-yellow   { background-color: #ffff80 !important; }

.bg-white-op { background-color: rgba(255, 255, 255, 0.85) !important; }
