#order {
    padding: 45px 0px 60px 0px;
}

#order .order__products {
    margin: 0px;
    padding: 0px;
}

#order .order__products .product,
#order .order__shipment {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto SemiBold';
    margin-bottom: 15px;
    padding: 15px 25px;
    border: 1px solid #c8d3dd;
    border-radius: 5px;
}

#order .order__products .product .product__name,
#order .order__shipment .order__shipment__name {
    flex: 1 1 auto;
}

#order .order__products .product .product__file {
    flex: 0 0 auto;
    max-width: 200px;
    padding: 0px 15px;
}

#order .order__products .product .product__file input[type=file] {
    display: none;
}

#order .order__products .product .product__file input[type=file] + label {
    display: block;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#order .order__products .product .product__file input[type=file]:invalid + label {
    color: #d80e24;
}

#order .order__products .product .product__file label.invalid {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

#order .order__products .product .product__quantity {
    flex: 0 0 15%;
    padding: 0px 15px;
}

#order .order__products .product .product__price,
#order .order__shipment .order__shipment__price {
    flex: 0 0 15%;
    text-align: right;
    color: #53be31;
}

#order .order__products .product .invalid {
    flex: 0 0 100%;
    color: #d80e24;
    margin-top: 10px;
}

#order .order__total-price {
    font-family: 'Roboto SemiBold';
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
}

#order .order__total-price span {
    font-size: 24px;
    color: #53be31;
    margin-left: 6px;
}
